<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
                    http://www.springframework.org/schema/beans/spring-beans.xsd
                    http://www.springframework.org/schema/context 
                    http://www.springframework.org/schema/context/spring-context.xsd
                    http://www.springframework.org/schema/tx 
                    http://www.springframework.org/schema/tx/spring-tx.xsd
                    http://www.springframework.org/schema/aop 
                    http://www.springframework.org/schema/aop/spring-aop.xsd">



	<bean id="employeeDao" class="spring.impl.EmployeeDaoImpl" />
	
	<bean id="auditsGenerator" class="spring.AuditsGenerator" />
	<bean id="auditsExecution" class="spring.AuditsExecution"/>
	<bean id="auditsTask" class="spring.AuditsTask"/>
	
	<bean id="employeeService" class="spring.impl.EmployeeServiceImpl">
		<property name="employeeDao" ref="employeeDao" />
	</bean>
	 
	<bean id = "adminAuditListener" class="spring.AdminAuditListener"></bean> 
	
	<bean id="customerService" class="springtx.service.impl.CustomerServiceImpl" />
	
	<import resource="classpath:activitiContext.xml" />
 
</beans>
